<html xmlns:th="http://www.thymeleaf.org" >

<head>

 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>


<a th:href="@{/add}"> add books </a>

<table class="table"> 

 <thead class="table-dark">
   
   <tr>
   <th>S_no</th>
   <th> Book name</th>
   <th> Author Name</th>
   <th> Quantity</th>
   <th> Quantity per unit</th>
    <th>Alter</th>
    <th>delete</th>
   </tr>
   
  </thead>
  
  <tr th:each="libar:${lib}">
  <td th:text=${libar.s_no}></td>   
   <td th:text=${libar.book_name}></td>
    <td th:text=${libar.author}></td>
     <td th:text=${libar.qty}></td>
      <td th:text=${libar.price_qty}></td>
      <td ><a th:href="@{/alter/{id} (id=${libar.s_no})}"><button>Update</button></a></td>
      <td ><a th:href="@{/delete/{id} (id=${libar.s_no})}"><button>Delete</button></a></td>
      
  </tr>
  
  <tbody>
   
  </tbody>
</table>


</body>


</html>